<div class="ui stackable menu">
  <div class="ui container">
    <div class="item">
      <img src="/home/public/img/familia-logo.png">
    </div>
    <a href="/" class="item">Familia</a>
    <a href="/contacts" class="item">Contacts</a>
    <a href="/home" class="item">Home</a>
  </div>
</div>