<!DOCTYPE html>
<html>
<head>
	<title><%= people.title %></title>
	<meta name="description" content="<%= people.metaDescription %>">
	<meta name="keywords" content="<%=  people.metaKeywords %>">
	<meta name="author" content="guyswhocode">
	<% include ../../home/views/partials/styles.ejs %>
	<link rel="stylesheet" href="/people/public/css/people.css">
</head>
<body>
	<h1><%= people.title %></h1>
	<% include ../../home/views/partials/footer.ejs %>
	<% include ../../home/views/partials/scripts.ejs %>	
</body>
</html>
