<!DOCTYPE html>
<html>
<head>
	<title><%= persons.title %></title>
	<meta name="description" content="<%= persons.metaDescription %>">
	<meta name="keywords" content="<%=  persons.metaKeywords %>">
	<meta name="author" content="guyswhocode">
	<% include ../../home/views/partials/styles.ejs %>
	<link rel="stylesheet" href="/persons/public/css/persons.css">
</head>
<body>
	<h1><%= persons.title %></h1>
	<% include ../../home/views/partials/footer.ejs %>
	<% include ../../home/views/partials/scripts.ejs %>	
</body>
</html>
